<!DOCTYPE html>
<html>

<head>
  <title><%= error.status %> - <%= message %></title>
  <link rel='stylesheet' href='/styles/style.css' />
</head>

<body>
  <section>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
  </section>
</body>

</html>
